body{
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}

header{
    height: 60px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0pc 10px;
}
#grow{
    flex-grow: 1;
    text-align: center;
}
header>button{
    all: none;
    border-style: none;
    font-size: 20px;
    padding: 10px;
    color: #212529;
    background-color: transparent;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
table{
    width: 895vw;
    text-align: left;
    border-collapse: collapse;
}
tr{
    /* border-bottom: 1px #e4e3e3 solid; */
    height: 65px;
    vertical-align: top;
}
#tableHeadings{
    vertical-align: middle;
    
}
.taskName{
    width: 20%;
}
.taskDisc{
    width: 40%;
}
.taskAssigned{
    width: 20%;
}
.status{
    width: 8%;
}

.functions{
    width: 20%;
 
}
td, th{
    padding: 8px;
}
/* th{
    background-color: #e2e2e7;
}
tr:nth-child(odd){
    background-color: #f8f8f8;
} */
td>button{
    
    height: 60px;
    border-collapse: separate;
    z-index: 2;
}
.edit{
    width: 50%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: none;
    background-color: #d0cecc;
}
.primary{
    width: 50%;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: none;
    background-color: rgb(84, 106, 227);
}
#addTaskForm{
    display: flex;
    flex-direction: column;
}
#addTaskForm> input, #addTaskForm>select{
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
}
#addTaskForm>button{
    margin: 15px 0px;
    height: 40px;
}

#UpdateTaskForm{
    display: flex;
    flex-direction: column;
}
#UpdateTaskForm> input, #UpdateTaskForm>select{
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
}
#UpdateTaskForm>button{
    margin: 15px 0px;
    height: 40px;
}

.close{
    background-color: white;
    border-style: none;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
#searchBar{
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 4px;
    width: 50%;
    visibility: hidden;
    border-right-style: none;
}
#searchIcon{
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 8px;
    width: 40px;
    visibility: hidden;
    border-left-style: none;
}
.showTask{
    padding: 8px;
}